SimpleTypes/Demos/BookLocal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="PersonTitle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mr."/>
            <xs:enumeration value="Ms."/>
            <xs:enumeration value="Dr."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="xs:string"/>
                <xs:element name="Author">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Title" type="PersonTitle"/>
                            <xs:element name="Name" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>