SimpleTypes/Demos/EmployeeFixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Salary">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="10000"/>
            <xs:maxInclusive value="90000"/>
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JobTitle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sales Manager"/>
            <xs:enumeration value="Salesperson"/>
            <xs:enumeration value="Receptionist"/>
            <xs:enumeration value="Developer"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Salary" type="Salary"/>
                <xs:element name="Title" type="JobTitle"/>
                <xs:element name="Status" type="xs:string" fixed="current" 
                    minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>