SimpleTypes/Demos/Password3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Password">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z_]{6,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PW" type="Password"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>