ComplexTypes/Demos/Employee2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Salary">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="10000"/>
      <xs:maxInclusive value="90000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FirstName"/>
              <xs:element name="MiddleName" minOccurs="0"/>
              <xs:element name="LastName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:element name="Salary" type="Salary"/>
          <xs:element name="Wage" type="xs:decimal"/>
        </xs:choice>
        <xs:element name="Responsibilities">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Responsibility" type="xs:string" 
                maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>