Attributes/Demos/Book3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="Title">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Mr."/>
        <xs:enumeration value="Ms."/>
        <xs:enumeration value="Dr."/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Title" type="xs:string"/>
        <xs:element name="Author">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
            <xs:attribute ref="Title"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>